<h4><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h4>
<h4><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h4>
<h4><%= @appointment.date_and_time %></h4>